name: coverage

permissions:
  contents: write # Required to commit the coverage badge

on:
  push:
    branches: 
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
          pip install coverage-badge  

      - name: Run tests and generate coverage report
        run: pytest --cov=cofmpy --cov-report=xml

      - name: Generate coverage badge
        run: | 
          mkdir -p /tmp/badge
          coverage-badge -f -o /tmp/badge/coverage.svg

      - name: Switch to `badges` branch and copy badge
        if: github.ref == 'refs/heads/main'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git fetch origin badges
          git checkout badges

          cp /tmp/badge/coverage.svg .github/badges/coverage.svg

      - name: Commit badge to `badges` branch
        if: github.ref == 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update coverage badge"
          branch: badges
          file_pattern: .github/badges/coverage.svg
